DjangoPlayground/firstsite/__pycache__/views.cpython-313.pyc
DjangoPlayground/db.sqlite3
DjangoPlayground/DjangoPlayground/__pycache__/settings.cpython-313.pyc
DjangoPlayground/firstsite/__pycache__/urls.cpython-313.pyc
DjangoPlayground/firstsite/__pycache__/views.cpython-313.pyc
*.pyc
*.sqlite3
